{% extends 'base.html' %}
        
{% block content %}
    
<main class="content mb-5" >
    <div class="container-fluid">
        <div class="p-2 mt-3">
            <div class='display-5'>Bem Vindo(a)
            </div>
            <hr />
            <div class="card card-body text-center">
            <h3 class="mb-0">Este é um site desenvolvido como atividade avaliativa para o Projeto Integrador em Computação II<br>
        </h3></div>
        </div>
    </div>
</main>
{% endblock content %}
