{% extends 'base.html' %}


{% block content %}
<main class="content mb-5">
  <div class="container-fluid mb-3">
    <div class="p-1 mt-3">
      <div class="display-5">Calendário de Eventos</div>
        <hr />
          <p class="d-inline-flex gap-1">
            <a class="btn btn-light" href="{% url 'adicionar_evento' %}" role="button">
              Novo Evento
            </a>
          </p>
        <div class="p-1">
            <div id="calendar"></div>
        </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'timeGridWeek',
        timeZone: 'America/Sao_Paulo',
        themeSystem: 'bootstrap5',
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
          },
          locale: 'pt-br',
          events: [
            {% for evento in agenda %}
            {
              title: '{{ evento.titulo }}',
              start: '{{ evento.data_inicio|date:"Y-m-d\TH:i:s" }}',
              end: '{{ evento.data_fim|date:"Y-m-d\TH:i:s" }}',
              url: '{% url "evento" evento.id %}',
            },
            {% endfor %}
            ]
        });
        calendar.render();
        {% if messages %}
        {% for message in messages %}
            Swal.fire({
                icon: '{% if message.tags == "success" %}success{% elif message.tags == "error" %}error{% elif message.tags == "warning" %}warning{% elif message.tags == "info" %}info{% else %}question{% endif %}',
                title: '{{ message }}',
                showConfirmButton: false,
                timer: 3000
                });
            {% endfor %}
        {% endif %}
      });
    </script>
  </main>
    {% endblock %}
