{% extends 'base.html' %}
        
{% block content %}
    
<main class="content mb-5" >
    <div class="container-fluid">
        <div class="p-1 mt-3">
            <div class='display-5'>{{ title }} {% if form_title_identificador %} 
                <span class="text-muted h5">para {{ form_title_identificador }}</span>{%  endif %}</div>
            <hr />
        </div>
        <div class="mt-2" id="inserir">
            <form method="post" enctype='multipart/form-data'>
                {%  csrf_token %}
                {% load crispy_forms_tags %}
                {% crispy form %}
            </form>  
        </div>

    </div>
    <script>

        jQuery.datetimepicker.setLocale('pt-BR');
        jQuery('.date_timepicker_start').datetimepicker({
            format:'d/m/Y H:i',
            mask:true,
            step: 30,
            minTime:'09:00',
            maxTime:'18:00',
            theme:'dark',
            minDate: 0
          });
          jQuery('.date_timepicker_end').datetimepicker({
            format:'d/m/Y H:i',
            step: 30,
            minTime:'09:00',
            maxTime:'18:00',
            onShow:function( ct ){
                this.setOptions({
                 minDate:jQuery('.date_timepicker_start').val()
                })
               },
            mask:true,
            theme:'dark',
          });
          jQuery('.date_picker').datetimepicker({
            format:'d/m/Y',
            theme:'dark',
            timepicker:false,
            maxDate: 0
          });
          // https://xdsoft.net/jqplugins/datetimepicker/
    </script>
</main>
{% endblock content %}
