<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CP-PREV</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div class='tooltip-link' id="tooltip-index-link" role="index-link">
              <span class='tooltip-text' id="tooltip-index-text">Alt+1</span>
              <a class="nav-link active" id="index-link" aria-describedby="index-link" href="{% url 'index' %}">Início</a>
            </div>
          </li>
          {% if user.is_authenticated == False %}
          <li class="nav-item">
            <div class='tooltip-link' id="tooltip-login-link" role="login-link">
              <span class='tooltip-text' id="tooltip-clientes-text">Alt+0</span>
              <a class="nav-link" id="login-link" aria-describedby="login-link" href="{% url 'login' %}">Login</a>
            </div>
          </li>
          {% elif user.is_authenticated %}
          <li class="nav-item">
            <div class='tooltip-link' id="tooltip-clientes-link" role="clientes-link">
              <span class='tooltip-text' id="tooltip-clientes-text">Alt+2</span>
              <a class="nav-link" id="clientes-link" aria-describedby="clientes-link" href="{% url 'clientes' %}">Clientes</a>
            </div>
          </li>
            <a class="nav-link disabled" href="">Prazos</a>
          </li>
          </li>
          <div class='tooltip-link' id="tooltip-atendimentos-link" role="atendimentos-link">
            <span class='tooltip-text' id="tooltip-atendimentos-text">Alt+3</span>
            <a  class="nav-link" id="atendimentos-link" aria-describedby="atendimentos-link" href="{% url 'atendimentos' %}">Atendimentos</a>
          </div>  
          </li>
          </li>
          <div class='tooltip-link' id="tooltip-agenda-link" role="agenda-link">
            <span class='tooltip-text' id="tooltip-agenda-text">Alt+4</span>
            <a class="nav-link" id="agenda-link" aria-describedby="agenda-link" href="{% url 'agenda' %}">Agenda</a>
          </div>
          </li>
          {% if request.user.groups.all.0.name != "secretarias"%}
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">Pagamentos</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <form method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="nav-link text-danger-emphasis">Sair</button>
            </form>
          </li>
        </ul>
        <form  class="d-flex" role="search" method="GET" action="{% url 'clientes' %}">
          <input class="form-control mr-sm-2" type="search" placeholder="CPF ou parte sem pontuação" name="busca" aria-label="busca">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busca</button>
        </form>
        {% endif %}
      </div>
    </div>
  </nav>
  <script>
    var tooltip_index = $('#tooltip-index-text');
    var tooltip_clientes = $('#tooltip-clientes-text');
    var tooltip_atendimentos = $('#tooltip-atendimentos-text');
    var tooltip_agenda = $('#tooltip-agenda-text');
    var tooltip_login = $('#tooltip-login-text');

    tooltip_index.hide();
    tooltip_clientes.hide();
    tooltip_atendimentos.hide();
    tooltip_agenda.hide();
    tooltip_login.hide();

    document.addEventListener('keydown', function(event) {
        if (event.altKey) {
          tooltip_index.show();
          tooltip_clientes.show();
          tooltip_atendimentos.show();
          tooltip_agenda.show();
          tooltip_login.show();
        }
        if (event.ctrlKey && event.key === '1') {
            document.getElementById('index-link').click();
        } else if (event.ctrlKey && event.key === '2') {
            document.getElementById('clientes-link').click();
        } else if (event.ctrlKey && event.key === '3') {
          document.getElementById('atendimentos-link').click();
        } else if (event.ctrlKey && event.key === '4') {
            document.getElementById('agenda-link').click();
        } else if (event.ctrlKey && event.key === '0') {
            document.getElementById('login-link').click();
        } else if (event.key === 'Escape') {
          tooltip_index.hide();
          tooltip_clientes.hide();
          tooltip_atendimentos.hide();
          tooltip_agenda.hide();
          tooltip_login.hide();
        }
    });
    
</script>